<div class="container-fluid">
  	<div class="pageHeader">
  		<div class="row mb-3">
  			<div class="offset-sm-4 col-sm-4">
  				<div class="phTitle">
  					<h4>{{workingUserName}}</h4>
  				</div>
  			</div>
  			<div class="col-sm-4">
  				<div class="headerActions"> 					
					<ul class="actionsUl">
						<li class="float-right">
							<a href="">This Quarter</a>
						</li>
					</ul>  						
  				</div>	
  			</div>
  		</div>
  		<div class="row">
	      	<div class="col-12">
                <ul class="nav nav-pills nav-secondary justify-content-center" id="pills-tab" role="tablist" style="border-bottom: 1px solid #ddd;">
                  	<li class="nav-item">
                    	<a class="nav-link active" data-toggle="pill" href="" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Dashboard</a>
                  	</li>
                  	<li class="nav-item">
                    	<a class="nav-link" data-toggle="pill" href="" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Hierarchy</a>
                  	</li> 
                  	<li class="nav-item">
                    	<a class="nav-link" data-toggle="pill" href="" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Tree</a>
                  	</li> 
                  	<li class="nav-item">
                    	<a class="nav-link" data-toggle="pill" href="" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Timeline</a>
                  	</li> 
                </ul>
	        </div>
	    </div>
  	</div>

  	<div class="row">
      <div class="offset-sm-3 col-sm-6">
        <div class="noObjectives mt-2 mb-2 text-center">
          <img src="assets/img/okr.png" class="img-fluid" />
          <h4>No Checkins</h4>
          <p>Just getting started? Start creating weekly plans</p>
        </div>
      </div>
    </div>
</div>